@import 'variables';

.newest_items__title {
  h1 {
    font-weight: 400;
    font-size: 1.5em;
    margin-top: 25px;
    margin-bottom: 0px;
  }
}

.scroll_menu_delimiter {
  height: 20px;
  width: calc(100% - 10px);
  background-color: $charcoal;
  position: relative;
  right: 5px;
  margin: 10px;
}
