@import 'variables';

html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

body {
  font-family: $default-font;
  background-color: $default-background;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  
  .content {
    margin: 0 200px
  }
}

.main_container {
  flex: 1;
}

.footer {
  margin: 0 auto;
  width: 100%;
  background-color: $cloud;
  height: 200px;
  flex-shrink: 0;
}

.hidden {
  display: none;
}

.pagination {
  display: flex;
  justify-content: center;
  
  a {
    color: $black;
    text-decoration: none;
  }

  .page {
    margin: 0 2.5px;
    font-size: 1.2em;
  }

  .page.current {
    color: $white;
    background: black;
    margin: 0;
    padding: 0 2px;
  }

  .next,
  .prev,
  .next a,
  .prev a {
    display: flex;
    align-items: center;
  }

  .next {
    margin-left: 5px;
  }

  .prev {
    margin-right: 5px;
  }
}

@media (max-width: $m-width) {
  .container {
    padding: 10px;

    .content {
      margin: 0 10px
    }
  }

  .footer {
    height: 150px;
  }
}

.sort-box-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  .sort-box-title {
    margin-right: 10px;
    font-size: 16px;

    @media (max-width: 768px) {
      font-size: 14px;
    }

    @media (max-width: 426px) {
      font-size: 12px;
    }
  }
}

hr {
  all: unset;
  display: block;
  border-bottom: 1px solid $light-gray;
  height: 1px;
  margin: 3px 0;
}

.default_button {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  text-decoration: none #6B7280 solid;
  text-decoration-thickness: auto;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;

  &:hover {
    background-color: #374151;
  }

  &:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
}

.grid {
  display: flex;
  flex-direction: row;
}

.icon {
  &:hover {
    color: $dark-gray;
  }
}

a {
  color: $black;
  text-decoration: none;
}
