@import 'variables';

.chat_wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 20px auto;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: $white;

  @media (max-width: $m-width) {
    display: block;
  }
}

.chat_list__button {
  display: none;

  @media (max-width: $m-width) {
    display: block;
  }
}

.chat_list {
  border-right: 1px solid $light-gray;

  a {
    text-decoration: none;
  }

  &__title {
    font-size: 1.2em;
    margin-left: 10px;
    padding: 5px 0;
  }

  @media (max-width: $m-width) {
    margin-bottom: 15px;
    border: 1px solid $dark-gray;
  }
}

.chat_list_item {
  padding: 10px;
  border-bottom: 1px solid $light-gray;
  cursor: pointer;
  &:hover {
    background-color: $light-gray;
  }
}

.chat_list_item__inline {
  display: flex;
}

.chat_list_item__user_name {
  margin-bottom: 5px;
  text-decoration: none;
  color: $black;
  font-size: 1em;
}

.chat_list_item__draft {
  margin-left: auto;
  color: $cherry-red;
  font-size: 1.2em;
}

.chat_list_item__last_message {
  font-size: 0.8em;
  color: $dark-gray;
  display: flex;
  justify-content: space-between;
}

.chat_block {
  width: 70%;
  padding: 20px;

  @media (max-width: $m-width) {
    width: 100%;
    padding: 0;
  }
}

.chat_block_header {
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid $light-gray;

  @media (max-width: $m-width) {
    padding: 0 5px;
  }
}

.chat_inline {
  display: flex;
  align-items: center;
}

.chat_block_header__user_name {
  font-size: 1.2em;
  margin-right: 10px;
}

.chat_block_header__action {
  margin-left: auto;

  .default_button {
    background-color: $cherry-red;
    font-size: 1em;
    padding: 7px 15px;
  }
}

.chat_block_communication {
  flex-grow: 1;
  max-height: 60vh;
  overflow-y: scroll;
  margin-top: 5px;
}

.chat_block_actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  width: 100%;

  .default_button {
    background-color: $blue;
    font-size: 0.75em;
    padding: 0px 7px;
    border-radius: 25px;
    margin-left: 20px;
    border: 1px solid $light-gray;

    &:hover {
      background-color: #1A43BF;
    }
  }

  form {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    height: 20px;
  }
}

.chat_dropdown__wrapper {
  display: none;
  left: 20px;
  background-color: $white;
}

.chat_dropdown__content {
  display: flex;
  flex-direction: column;

  a {
    text-decoration: none;
  }
}

.message_content {
  border: 1px solid $black;
  border-radius: 10px;
  margin-bottom: 10px;
  min-width: 250px;
  padding: 10px;
  padding: 5px;
  width: 100px;
  word-wrap: break-word;

  .message__date {
    margin-left: auto;
  }
}

#chat_rooms {
  width: 30%;

  @media (max-width: $m-width) {
    width: 100%;
  }
}

.chat_list__button {
  padding: 20px 0;
  background-color: $cloud;
  text-decoration: none;
  color: $white;
  font-size: 1em;
  text-align: center;
}

.chat_room__unselected {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.2em;

  @media (max-width: $m-width) {
    padding: 20px 0;
  }
}
