@import 'variables';

.header {
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: space-between;
  margin: 0 40px;

  @media (max-width: $m-width) {
    align-items: center;
    flex-direction: column;
    height: 170px;
    margin: 0 0;
    margin-bottom: 10px;
  }
}

.header__logo {
  align-items: center;
  color: $dark-green;
  display: flex;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 1.5px;
  text-transform: uppercase;

  a,
  a:active,
  a:hover,
  a:focus {
    color: inherit;
    text-decoration: none;
  }
}

.header-content {
  align-items: center;
  display: flex;
  flex: 2;
  justify-content: center;

  &__search {
    background-color: $almond;
    border-radius: 999px;
    border: 1px solid $almond;
    padding: 0 10px;
    position: relative;
    width: 410px;

    .search-input {
      background-color: $almond;
      border: none;
      color: $white;
      font-size: 1em;
      line-height: 20px;
      margin-left: 20px;
      padding: 8px 0;
      width: 360px;

      &::placeholder {
        color: $white;
      }

      &:focus-visible {
        outline: none;
      }
    }
    
    button {
      background: none;
      border: none;
      color: $white;
      cursor: pointer;
      font-size: 1.2em;
      position: absolute;
      top: 6px;

      &:focus-visible {
        outline: none;
      }
    }
  }

  @media(max-width: $m-width) {
    width: 300px;

    .search-input {
      width: 250px;
    }

    form {
      width: 300px;
    }
  }

  form {
    &:focus-visible {
      outline: none;
    }
  }
}

.header-content-right {
  align-items: center;
  display: flex;
  padding-right: 20px;

  &__selling {
    -webkit-user-select: none;
    background: $dark-green;
    border-radius: 999px;
    border: 0;
    box-sizing: border-box;
    color: $white;
    cursor: pointer;
    font-size: 16px;
    height: 38px;
    letter-spacing: 1px;
    line-height: 24px;
    margin-right: 10px;
    opacity: 1;
    outline: 0 solid transparent;
    overflow: hidden;
    padding: 8px 18px;
    text-decoration: none;
    touch-action: manipulation;
    user-select: none;
    width: 138px;

    &:hover {
      background-color: $dark-gray;
    }
  }

  &__actions {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;    
    padding: 10px;

    a {
      color: $cocoa;
      height: 30px;
      text-decoration: none;
    }

    i {
      font-size: 30px;
    }

    &--button {
      align-items: center;
      background-color: $default-background;
      border-radius: 10px;
      border: 1px solid $dark-gray;
      display: flex;
      padding: 5px;

      &:hover {
        border-color: $green-moss;
        color: $green-moss;
      }
    }
  }
}

.profile_menu__wrapper {
  background-color: $white;
  box-shadow: 0 1px 5px $black;
  display: none;
  position: absolute;
  right: 5px;
  top: -25px;
  width: 300px;
  z-index: 5;

  @media (max-width: $m-width) {
    right: 25vw;
    top: -10px;
  }
}

.profile_menu__content {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;

  a {
    border-bottom: 1px solid $charcoal;
    color: black;
    font-size: 16px;
    padding: 5px 5px 0;
    padding-left: 10px;
    text-decoration: none;

    &:hover {
      background-color: $darker-default-background;
    }
  }
}

.header__wallet {
  border-radius: 5px;
  border: 1px solid $charcoal;
  padding: 3px;

  i {
    margin-left: 3px;
  }

  .grid {
    align-items: center;
    justify-content: center;
  }

  &:hover {
    border-color: $dark-gray;
    color: $dark-gray;

    .header__wallet_amount {
      color: $black;
    }

    i {
      color: $dark-gray;
    }
  }
}


@media (max-width: $m-width) {
  .header-content-right__selling {
    margin-right: 0px;
    padding: 8px 10px;
    white-space: nowrap;
    width: 115px;
  }

  .header-content-right__actions {
    gap: 3px;
    padding-left: 3px;
    padding-right: 0px;
  }

  .header-content-right {
    padding-right: 0px;
  }
}
