@import 'variables';

.navigation__wrapper {
  align-items: center;
  background-color: $cocoa;
  color: $white;
  display: flex;
  padding: 10px 0;
  width: 100%;

  .navigation__items {
    display: flex;
    flex-grow: 1;
    margin-left: 40px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: thin;
  }

  .navigation__item {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    padding: 5px;
    text-wrap: nowrap;

    &:hover {
      background-color: $dark-gray;
    }
  }

  a,
  a:active {
    color: $white;
    text-decoration: none;
  }

  a:-webkit-any-link {
    color: $white;
    text-decoration: none;
  }

  .navigation__button {
    display: none;
    margin-left: 20px;

    a {
      color: $white;
      text-decoration: none;
    }
  }

  .navigation__actions {
    align-items: center;
    display: flex;
    float: right;
    height: 42px;
    margin-left: 20px;
    margin-right: 40px;

    a, button {
      border: none;
      color: $white;
      padding-right: 10px;
      text-decoration: none;
    }

    .navigation__language {
      align-items: center;
      display: flex;
      font-weight: 700;

      &--en,
      &--lv {
        margin: 0 5px;
      }

      &--en {
        border-right: 1px solid $white;
      }
    }
  }  
}

.navigation_dropdown__wrapper {
  background-color: $white;
  box-shadow: 0 1px 5px $black;
  display: none;
  left: 0;
  position: absolute;
  width: 400px;
  z-index: 5;
}

.navigation_dropdown__content {
  display: flex;
  flex-direction: column;

  .navigation_dropdown__item {
    font-size: 1.2em;
    padding: 10px 20px 10px 20px;

    &:hover {
      background-color: $light-gray;
    }
  }
}

@media(max-width: $m-width) {
  .navigation__wrapper {
    padding: 10px 0;

    .navigation__items {
      display: none;
    }

    .navigation__button {
      display: block;
      font-size: 1.2em;
    }

    .navigation__actions {
      margin-left: auto;
      margin-right: 20px;
    }
  }
}
