@import 'variables';

.navigation__wrapper {
  background-color: $cocoa;
  color: $white;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px 0;

  .navigation__items {
    display: flex;
    flex-grow: 1;
    margin-left: 40px;
    overflow: scroll;
  }

  .navigation__item {
    cursor: pointer;
    margin-right: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: $dark-gray;
    }
  }

  a,
  a:active,
  a:-webkit-any-link {
    color: $white;
    text-decoration: none;
  }

  .navigation__button {
    display: none;
    margin-left: 20px;

    a {
      color: $white;
      text-decoration: none;
    }
  }

  .navigation__actions {
    display: flex;
    align-items: center;
    float: right;
    margin-right: 40px;
    margin-left: 20px;

    a, button {
      color: $white;
      padding-right: 10px;
      border: none;
      text-decoration: none;
    }

    .navigation__language {
      display: flex;
      align-items: center;
      font-weight: 700;

      &--en,
      &--lv {
        margin: 0 5px;
      }

      &--en {
        border-right: 1px solid $white;
      }
    }
  }  
}

.navigation_dropdown__wrapper {
  display: none;
  box-shadow: 0 1px 5px $black;
  position: absolute;
  left: 0;
  width: 400px;
  z-index: 5;
  background-color: $white;
}

.navigation_dropdown__content {
  display: flex;
  flex-direction: column;

  .navigation_dropdown__item {
    padding: 10px 20px 10px 20px;
    font-size: 1.2em;

    &:hover {
      background-color: $light-gray;
    }
  }
}

@media(max-width: $m-width) {
  .navigation__wrapper {
    padding: 10px 0;

    .navigation__items {
      display: none;
    }

    .navigation__button {
      display: block;
      font-size: 1.2em;
    }

    .navigation__actions {
      margin-right: 20px;
      margin-left: auto;
    }
  }
}
