@import 'variables';

.session-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
}

.session-input {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;

  &__field {
    input {
      font-size: 20px;
      height: 40px;
      width: 300px;
    }
  }
}

.session__actions {
  display: flex;
  justify-content: center;

  &-submit {
    -webkit-user-select: none;
    background: $lg-purple;
    border-radius: 999px;
    border: 0;
    box-shadow: $lg-purple 0 10px 20px -10px;
    box-sizing: border-box;
    color: $white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 10px 0 30px 0;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    touch-action: manipulation;
    user-select: none;
    width: fit-content;
    word-break: break-word;

    &:hover {
      background-color: $light-purple;
    }
  }
}

.session__forgot_password {
  color: $purple;
  text-decoration: none;

  &:hover {
    color: $light-purple;
  }
}

.session_more__register {
  color: $purple;
  margin-left: 20px;
  text-decoration: none;

  &:hover {
    color: $light-purple;
  }
}

.minimum_password_length {
  display: flex;
  font-size: 0.75em;
  margin-left: 20px;
}
