@import 'variables';

.custom-tooltip {
  background-color: $white;
  border-radius: 5px;
  border: 1px solid $black;
  padding: 5px;
}

.tooltip-info {
  background-color: transparent;
  border-radius: 25px;
  border: 1px solid $cherry-red;
  color: $cherry-red;
  font-size: 1em;
  font-weight: 700;
  height: 30px;
  margin-left: 10px;
  width: 30px;

  @media(max-width: $m-width) {
    margin-top: 5px;
  }
}
